*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}


body{
    background: #fff2e6;
}
a{
    text-decoration: none !important;
    color: inherit;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccf2ff;
}

.menu li {
  float: left;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #000000;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.menu input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
}
.app-text{
    width: 50%;
    float: left;  
}

.app-text h1{
   font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.app-text p{
   width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
}

.web-picture{
    width: 50%;
    float: right;
    
}

.web-picture img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}


nav{
    position: sticky;
    z-index: 1000;
}



.social-icons{
    right: 72px;
    bottom: 35px;
    position: absolute;
}


.social-icons ul li {
    list-style: none;
    margin-top: 15px;
    text-align: center;
}


.social-icons ul li a{
    color:  #001f4d;
    border-radius: 50%;
    border: 1px solid #001f4d;
    padding: 5px;
    display: block;
    transition: 0.3s all;
}
.social-icons ul li a:hover{
    background: #001f4d;
    color: #fff;
}

/*dark mode*/

body.dark {
    background: #101010;
    color: #fff;
}

body.dark nav {
    background-color: #2d2d2d !important;
}

body.dark .jumbotron , body.dark .breadcrumb {
    background: #8a8a8a3d !important;
}

/*dark input style*/

.toggleWrapper {
  overflow: hidden;
  padding: 0 5px;
position: fixed;
top: 100px;
left: 0px;
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 60px;
  height: 29px;
  border: solid 1px #4B4B4B52;
  background-color: #A5D7EC;
  border-radius: 84px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
  transition: background-color 700ms cubic-bezier(0.745, 0.05, 0.55, 0.95);
}



.toggle__handler { /* toggle button*/
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 2px;
  left: 3px;
  width: 23px;
  height: 23px;
  background-color: #F9DC9D; /* color sun*/
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 2px 5px rgba(239, 181, 0, .6);
  transition: all 600ms cubic-bezier(0.78, -0.75, 0.565, 1.55);
  transform: rotate(-45deg);
}
  
.toggle__handler .crater {
  position: absolute;
  background-color: #D2CAB8; /* color crater*/
  border: solid 1.2px #978C7644;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  border-radius: 100%;
}
.toggle__handler .crater--1 {
  top: 12px;
  left: 5px;
  width: 1px;
  height: 1px;
}
.toggle__handler .crater--2 {
  top: 4px;
  left: 12px;
  width: 2.5px;
  height: 2.5px;
}
.toggle__handler .crater--3 {
  top: 12px;
  left: 13px;
  width: 5px;
  height: 5px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 7px;
  left: 20px;
  z-index: 0;
  width: 20px;
  height: 3px;
}
.star--2 {
  top: 12px;
  left: 14px;
  z-index: 1;
  width: 30px;
  height: 3px;
}
.star--3 {
  top: 17px;
  left: 23px;
  z-index: 0;
  width: 20px;
  height: 2px;
}
.star--4 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.25, 0.95);
}
.star--4 {
  top: 14px;
  left: 26px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}


input:checked + .toggle {
  background-color: #4C5F85; /*toggle BG dark (toggle checked)*/
}

input:checked + .toggle:before {
  color: #DAE0EC; /*text ligh inactive*/
}

input:checked + .toggle:after {
  color: #4C5F85; /*text dark active*/
}

input:checked + .toggle .toggle__handler {
  background-color: #DCDACE; /*toggle button dark active*/
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .4);
  transform: translate3d(30px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}
.toggle__handler .crater--1 {
  top: 12px;
  left: 5px;
  width: 1px;
  height: 1px;
}
.toggle__handler .crater--2 {
  top: 4px;
  left: 12px;
  width: 2.5px;
  height: 2.5px;
}
input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}
input:checked + .toggle .star--2 {
  width: 3px;
  height: 3px;
  transform: translate3d(-5px, 0, 0);
}
input:checked + .toggle .star--3 {
  width: 1.5px;
  height: 1.5px;
  transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


/*podcast*/

.visually-hidden, .pcast-player button span {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Pcast Player */
.pcast-player .pcast-player-controls {
  box-sizing: border-box;
  background: #000;
  color: #fff;
  font-size: 14px;
  height: 42px;
  overflow: hidden;
  padding: 5px;
}
.pcast-player button {
  background: #2a2a2a;
  color: #fff;
  border: 0;
  border-radius: 2px;
  padding: 5px;
  line-height: 22px;
  -webkit-appreance: none;
  min-width: 32px;
}
.pcast-player progress {
  height: 13px;
  width: calc(100% - 281px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pcast-player progress[value]::-webkit-progress-bar {
  background-color: #555;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.pcast-player progress[value]::-webkit-progress-value {
  background: #fff;
}
.pcast-player .pcast-time {
  display: inline-block;
  font-size: 13px;
  padding: 0 5px;
  text-align: center;
  width: 4em;
}
.pcast-player .pcast-speed {
  width: 2.5em;
}
.pcast-player .pcast-download {
  font-size: 12px;
  margin-top: 0.5em;
  display: inline-block;
  color: black;
}
.pcast-player .pcast-download:hover, .pcast-player .pcast-download:focus {
  color: #666;
}
